<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Miyawaki Forest@IITPkd</title>
</head>


<body>

    <section>
        <nav>
            <div>
                <div>
                    <a href="index.html">Home</a>
                    <a href="instructions.html">Instructions</a>
                    <a href="gallery.html">Gallery</a>
                    <a href="treesinfo.html">Tree Data</a>
                </div>
                <img src="../image.png" alt="herosection">
            </div>
        </nav>
            
        
    </section>

</body>
</html>
