<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instruction to Students</title>
    <link rel="stylesheet" href="../styles/navbar.css">
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <nav>
        <div class="nav-container">
            <div class="logo">
                <img src="../images/Miyawaki logo.png" alt="Miyawaki Forest Logo" class="logo-img">
                <span class="brand-name">Miyawaki Forest</span>
            </div>
            <div class="nav-links">
                <a href="index.html">Home</a>
                <a href="about.html">About</a>
                <a href="instructions.html" class="active">Instructions</a>
                <a href="gallery.html">Gallery</a>
                <a href="treesinfo.html">Tree Data</a>
            </div>

            <div class="toggle_btn">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>

        <div class="dropdown_menu">
            <ul>
                <li><a href="index.html" class="active">Home</a></li>
                <li><a href="instructions.html">Instructions</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="treesinfo.html">Tree Data</a> </li>
            </ul>

        </div>
        
        <script>
            const toggleBtn = document.querySelector('.toggle_btn')
            const toggleBtnIcon = document.querySelector('.toggle_btn i')
            const dropDownMenu = document.querySelector('.dropdown_menu')

            toggleBtn.onclick = function () {
                dropDownMenu.classList.toggle('open')
                const isOpen = dropDownMenu.classList.contains('open')

                toggleBtnIcon.classList = isOpen 
                ? 'fa-solid fa-xmark' : 'fa-solid fa-bars'
            }
        </script>
    </nav>

    <section>
        
        <h1>Instructions For Students</h1>
        <h2>To Enter the Data of Miyawaki Project Download the app From Below:</h2>
        <div >
            <a href="../assets/ecolog.apk" download="Ecolog.apk">
                <button class="download_btn">Download Apk</button>
            </a>
        </div>

        <h2>Follow the steps below to successfully use the app: </h2>
        <h3>Step 1: Sign Up </h3>
            <p>Sign up using your institute email ID. </p>
            <p>Create a password for your account. (The password should be at least 6 characters long!)</p>

        <h3>Step 2: Login 🔓 </h3>
            <p>After signing up, you’ll be redirected to the login page.</p>
            <p>Login again using your registered email ID and password.</p>

        <h3>Step 3: Fill Student Details 🧑‍🎓</h3>
        <p>Enter your name, roll number, and group name.(These are required to be entered only if you are signing up for the first time.)</p>
        
        <h3>Step 4: Enter Tree Data 🌲</h3>
            <p>
                Fill in the following tree details:
            </p>
            <p>Tree ID, </p>
            <p>Number of primary stems(The number of primary stems should include the main stem and the other primary stems.)</p>

        <h3> Step 5: Enter Branch Details 🌿</h3>
            <p>According to the number of primary stems you entered, you’ll be asked to enter the height(m) and circumference(cm) of each stem. </p>
            <p>The circumference of the stem should be measured at 13cm from the its origin. </p>

        <h3>Step 6: Upload Tree Image 📷  </h3>
            <p>Upload or take a photo of the tree.</p>
            <p>Ensure a person is holding the levelling staff beside the tree in the image.</p>
        
        <h3>Step 7: Save Data 💾 </h3> 
            <p>Click Save Data.</p>
            <p>You’ll be redirected back to the tree data form to continue entering data for other trees.</p>

        <h3>Step 8: Editing Data ✏️ </h3>
            <p>Students cannot edit submitted data.</p>
            <p>For any changes, please contact your instructor.</p>

    </section>

    
</body>
</html>